/* general */
html,
/* general */
body {
  height: 100%;
}
.color-gray {
  color: #a5a5a5 !important;
}
.color-blue {
  color: #709fe9 !important;
}
/* pagination */
.page-link {
  border-radius: 100px;
  color: #a5a5a5;
  margin: 5px;
  width: 38px;
  height: 38px;
  text-align: center;
}
.page-item.active .page-link {
  background-color: #709fe9;
  border-color: #709fe9;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 100px;
}
/* input-ground-append */
.input-group-append button{
  background: #FFF;
  border: 1px solid #ced4da;
  border-left: none;
}
.input-group-append button i{
  color: #a5a5a5;
}